html {
    background: #f5f7f8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;
    margin: auto;
    position: relative;
}

.community-card {
    position: absolute;
    top: 541px;
    left: 340px;
    display: flex;
    justify-content: center;
}

.band {
    max-width: 1240px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 31px;
    justify-content: center;
}


@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    color: #444;
    transition: all .1s ease-in;
    width: 380px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.image {
    padding-bottom: 80%;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.description {
    padding: 20px;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name {
    position: relative;
    font-weight: bolder;
    left: 20px;
    top: 14px;
    margin: 0;
    font-size: 15px;
    color: black;
}

.profile-image-circle {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: gray;
    left: 12px;
    top: 18px;
}

.subprofile-name {
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 15px;
}
