html {
    background: white;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  
  .logo {
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 50px;
  }
  
  nav {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 300px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    padding: 7px 50px;
  }
  
  .menu1, .menu2, .menu4, .community, .menu5 {
    color: #000000;
    font-size: 18px;
  }
  
  .community:hover {
    color: #337FED;
    font-weight: bolder;
  }
  
  .traplechat {
    background-color: rgb(247, 247, 247);
    color: #4a4a4a;
    border: none;
    cursor: pointer;
    font-size: 27px;
    margin-right: 10px;
  }
  
  .traplechat:hover {
    color: #3b63a0;
  }
  
  .traplog {
    background-color: rgb(247, 247, 247);
    color: #4a4a4a;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 27px;
  }
  
  .traplog:hover {
    color: #337FED;
    font-weight: bolder;
  }
  
  .button {
    position: absolute;
    left: 813px;
    top: 157px;
  }
  
  .trapplebox {
    position: absolute;
    top: 220px;
    left: 154px;
    box-sizing: border-box;
    border-radius: 40px;
    width: 1613px;
    height: 227px;
    background-color: #599CFF;
  }
  
  .traple {
    position: absolute;
    left: 50px;
    top: 50px;
  }
  
  .dayselect {
    box-sizing: border-box;
    border-radius: 20px;
    width: 220px;
    height: 46px;
    background-color: #F3F8FF;
    position: absolute;
    left: 46px;
    top: 140px;
  }
  
  .dayselectText {
    color: #2E66B8;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 32px;
    top: -6px;
  }
  
  .dayselectButton {
    position: absolute;
    left: 90px;
    top: 6px;
  }
  
  .searchBox {
    position: absolute;
    box-sizing: border-box;
    width: 463px;
    height: 56px;
    background-color: #fcfcfc;
    border-radius: 20px;
    top: 140px;
    left: 1106px;
  }
  
  .searchIcon {
    position: absolute;
    left: 24px;
    top: 19px;
  }
  
  .searchText {
    position: absolute;
    top: 4px;
    left: 70px;
    color: #868686;
  }
  
  .searchButton {
    position: absolute;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #84b5ff;
    width: 100px;
    height: 42px;
    left: 346px;
    top: 8px;
  }
  
  .searchButtonText {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    left: 25px;
    top: -3px;
  }
  
  .text {
    position: absolute;
    color: white;
    left: 46px;
    top: 86px;
  }
  
  .writeButton {
    position: absolute;
    left: 1620px;
    top: 151px;
    background-color: #60A1F8;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 133px;
    height: 45px;
  }